.cart_tbl {
  thead {
    th {
      border: 0px;
    }
    th:first-child {
      border-radius: 7px 0 0 7px;
    }
    th:last-child {
      border-radius: 0 7px 7px 0;
    }
  }

  tbody {
    tr {
      box-shadow: 0px 2px 5px #00000017;
      border: 1px solid #eeeeee;
      border-radius: 8px;
    }
    td {
      border: 0px;
    }
  }
}
