.r1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.submenu {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown-submenu-container a.dropdown-submenu::after {
  top: 0.6em;
  width: 15px;
}
