.rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.prodCard {
  display: flex;
  flex-direction: row;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  cursor: pointer;
  transition: color 200ms;
}

input[type="radio"] {
  display: none;
}

.top-half {
  margin-bottom: 10px;
}

.card-header {
  background-color: #fed288 !important;
}
