.rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.prodCard {
  display: flex;
  flex-direction: row;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.top-half {
  margin-bottom: 10px;
}
