.track_order_page {
  .track_card {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .track_card_icon {
      width: 37px;
      height: 51px;
    }
    .track_dot {
      position: relative;
    }
    .track_dot2 {
      position: relative;
    }
    .track_dot2::after {
      content: "";
      border: 1px solid #ededed;
      position: absolute;
      top: 16px;
      height: 73px;
      left: 49%;
    }
    .track_dot::after {
      content: "";
      border: 1px solid #ededed;
      position: absolute;
      top: 16px;
      height: 94px;
      left: 49%;
    }
  }
  .text-green {
    color: #51be7c;
  }
  .delivered_address {
    width: 200px;
  }
}

.track_text {
  text-align: right;
  font: normal normal normal 16px Poppins;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.status {
  text-align: left;
  font: normal normal 600 22px/33px Poppins;
  letter-spacing: 0px;
  color: #51be7c;
  opacity: 1;
}
